<%if product.reviews.size > 0 %>
    <div class="row">
        <div class="item-details">
            <div class="row">
                <% $average_age = 0 %>
                <% $reviewer_age = 0  %>
                <% for review in product.reviews %>
                    <% $reviewer_age = Date.today.year - review.user.birth_date.year %>
                    <% $average_age = $average_age + $reviewer_age %>
                <%end%>
                <% $average_age = $average_age / product.reviews.count %>
                <div class="col-sm-4">
                    <strong>Number of Reviews:</strong>
                    <%= product.reviews.count %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <strong>Average Reviewer's Age:
                </strong>
                    <%= $average_age%>
                </div>
            </div>
            <br/>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <strong>Age distribution:
                </strong>
                    <%=column_chart statistics_age_distribution_path(id: product.id) %>
                </div>
                <div class="col-sm-6">
                    <strong>Gender distribution:
                </strong>
                    <%=pie_chart statistics_gender_distribution_path(id: product.id) %>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <strong>Average score by age:
                </strong>
                    <%=column_chart statistics_score_by_age_path(id: product.id) %>
                </div>
                <div class="col-sm-6">
                    <strong>Average score by gender:
                </strong>
                    <%=pie_chart statistics_score_by_gender_path(id: product.id) %>
                </div>
            </div>
            <hr>
            <div class="row text-center">
                <br/>
                <strong>Number of reviews by country:
            </strong>
                <br>
                <br/>
                <%= geo_chart statistics_reviews_by_country_path(id: product.id) %>
            </div>
            <br/>
            <hr>
            <div class="row text-center">
                <strong>Score average by country:
            </strong>
                <br>
                <br/>
                <%= geo_chart statistics_score_by_country_path(id: product.id) %>
            </div>
        </div>
    </div>
<%else%>
    <h3>
        This product contains no reviews!
    </h3>
<%end%>
