<div class="table-responsive">
    <table id="moviesTable" class="table table-bordered">
        <thead>
            <tr>
                <th><%=Movie.human_attribute_name(:name)%></th>
                <th><%=Movie.human_attribute_name(:release_date)%></th>
                <th><%=Movie.human_attribute_name(:rating)%></th>
                <th><%=Movie.human_attribute_name(:director)%></th>
                <th><%=Movie.human_attribute_name(:duration)%></th>
                <% if user_signed_in? %>
                  <% if current_user.role == "admin" || current_user.role == "moderator"%>
                <th>Actions</th>
                  <%end%>
                <%end%>
            </tr>
        </thead>
        <tbody>
            <% for movie in @movies %>
                <tr>
                    <td><%=movie.name%></td>
                    <td><%=movie.pretty_date%></td>
                    <td><%=movie.rating%></td>
                    <td><%=movie.director%></td>
                    <td><%=movie.duration%></td>
                    <% if user_signed_in? %>
                      <% if current_user.role == "admin" || current_user.role == "moderator"%>
                    <td>
                        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_movie_path(movie), :class => 'btn btn-default btn-xs' %>
                        <%= link_to t('.destroy', :default => t("helpers.links.destroy")), movie_path(movie), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' %>
                    </td>
                      <%end%>
                    <%end%>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= link_to('New movie', new_movie_path()) %>
</div>

<script>
  $('#moviesTable').DataTable();
</script>
