<div class="carousel">
    <div class="text-center">
        <h2>Hot Right now!!!!!</h3>
    </div>
    <div class="gallery items-5">
        <div id="item-1" class="control-operator"></div>
        <div id="item-2" class="control-operator"></div>
        <div id="item-3" class="control-operator"></div>
        <div id="item-4" class="control-operator"></div>
        <div id="item-5" class="control-operator"></div>
        <% for product in @top5 %>
            <figure class="item" style="background-image: url(<%= product.avatar %>); background-size: 100% 100%;">
                <h1 style="color: white;"><%=product.name%></h1>
            </figure>
        <% end %>
        <div class="controls">
            <a href="#item-1" class="control-button">•</a>
            <a href="#item-2" class="control-button">•</a>
            <a href="#item-3" class="control-button">•</a>
            <a href="#item-4" class="control-button">•</a>
            <a href="#item-5" class="control-button">•</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <%= render 'topgames' %>
    </div>
    <ul class="col-md-6">
        <%= render 'topmovies' %>
    </ul>
</div>
<div class="row">
    <ul class="col-md-6">
        <%= render 'topshows' %>
    </ul>
    <ul class="col-md-6">
        <%= render 'topalbums' %>
    </ul>
</div>
