<div class="carousel">
    <div class="text-center">
        <h2>Hot Content</h2>
    </div>
    <div class="gallery items-5">
        <div id="item-1" class="control-operator"></div>
        <div id="item-2" class="control-operator"></div>
        <div id="item-3" class="control-operator"></div>
        <div id="item-4" class="control-operator"></div>
        <div id="item-5" class="control-operator"></div>
        <% for product in @top5 %>
            <figure class="item" style="background-image: url(<%= product.avatar %>); background-size: 100% 100%;">
                <h1 style="color: white;"><%=link_to(product.name, product)%></h1>
            </figure>
        <% end %>
        <div class="controls">
            <a href="#item-1" class="control-button">•</a>
            <a href="#item-2" class="control-button">•</a>
            <a href="#item-3" class="control-button">•</a>
            <a href="#item-4" class="control-button">•</a>
            <a href="#item-5" class="control-button">•</a>
        </div>
    </div>
</div>
<div class="row">
      <div class="panel panel-black">
        <div class="panel-heading">
          <div class="category-title">
            <h3 class="panel-title">
              Coming Soon</h3>
          </div>
        </div>
        <ul class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
          <% for c in @coming_soon %>
                <div class="col-md-2">
                    <br />
                    <img class="img-responsive" src="<%=c.avatar%>" alt="Icon">
                    <br />
                    <strong><%= link_to(c.name,c) %></strong>
                </div>
              </li>
          <% end%>
        </ul>
      </div>
</div>
<div class="row">
    <div class="col-md-6">
        <%= render 'topgames' %>
    </div>
    <ul class="col-md-6">
        <%= render 'topmovies' %>
    </ul>
</div>
<div class="row">
    <ul class="col-md-6">
        <%= render 'topshows' %>
    </ul>
    <ul class="col-md-6">
        <%= render 'topalbums' %>
    </ul>
</div>
