<div class="table-responsive">
    <table id="albumsTable" class="table table-bordered">
        <thead>
            <tr>
                <th><%=Album.human_attribute_name(:name)%></th>
                <th><%=Album.human_attribute_name(:release_date)%></th>
                <th><%=Album.human_attribute_name(:rating)%></th>
                <th><%=Album.human_attribute_name(:duration)%></th>
                <th><%=Album.human_attribute_name(:artist)%></th>
                <% if user_signed_in? %>
                  <% if current_user.role == "admin" || current_user.role == "moderator"%>
                  <th>Actions</th>
                  <%end%>
                <%end%>
            </tr>
        </thead>
        <tbody>
            <% for album in @albums %>
                <tr>
                    <td><%= link_to(album.name,album)%></td>
                    <td><%=album.pretty_date%></td>
                    <td><%=album.rating%></td>
                    <td><%=album.duration%></td>
                    <td><%=album.artist%></td>
                    <% if user_signed_in?%>
                    <% if current_user.role == "admin" || current_user.role == "moderator"%>
                      <td>
                          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_album_path(album), :class => 'btn btn-default btn-xs' %>
                          <%= link_to t('.destroy', :default => t("helpers.links.destroy")), album_path(album), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' %>
                      </td>
                      <%end%>
                    <%end%>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= link_to('New album', new_album_path()) %>
</div>

<script>
  $('#albumsTable').DataTable();
</script>
