<div class="center">
    <h3>User Roles</h3>
    <button class="btn btn-default"><%=link_to "Manage roles", users_path%></button>
    <br/>
    <div class="short-hr">
        <hr/>
    </div>
    <h3>Add Products</h3>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default"><%=link_to "Albums", new_album_path%></button>
        <button type="button" class="btn btn-default"><%=link_to "Games", new_game_path%></button>
        <button type="button" class="btn btn-default"><%=link_to "Shows", new_show_path%></button>
        <button type="button" class="btn btn-default"><%=link_to "Movies", new_movie_path%></button>
    </div>
</div>
