<div class="table-responsive">
    <table id="showsTable" class="table table-bordered">
        <thead>
            <tr>
                <th><%=Show.human_attribute_name(:name)%></th>
                <th><%=Show.human_attribute_name(:release_date)%></th>
                <th><%=Show.human_attribute_name(:importance)%></th>
                <th><%=Show.human_attribute_name(:cast)%></th>
                <th><%=Show.human_attribute_name(:seasons)%></th>
                <th><%=Show.human_attribute_name(:duration)%></th>
                <th><%=Show.human_attribute_name(:episodes)%></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% for show in @shows %>
            <tr>
                <td><%=show.name%></td>
                <td><%=show.pretty_date%></td>
                <td><%=show.importance%></td>
                <td><%=show.cast%></td>
                <td><%=show.seasons%></td>
                <td><%=show.duration%></td>
                <td><%=show.episodes%></td>
                <td>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_show_path(show), :class => 'btn btn-default btn-xs' %>
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")), show_path(show), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <%= link_to('New show', new_show_path()) %>
</div>

<script>
  $('#showsTable').DataTable();
</script>
