<!DOCTYPE html>
<html>
  <head>
    <title>Critique</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div style="margin: 0 auto; width: 60%; padding-top:40px;">
      <% flash.each do |type, message| %>
      <div class="flash alert <%= bootstrap_class_for(type) %> fade in">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
