<!DOCTYPE html>
<html>
  <head>
    <title>Critique</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar-text pull-right">
      <% if user_signed_in? %>
      Logged in as
      <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
      |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
      |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </nav>

    <div style="margin: 0 auto; width: 60%; padding-top:40px;">
      <% flash.each do |type, message| %>
      <div class="flash alert <%= bootstrap_class_for(type) %> fade in">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
      <% end %>

      <%= yield %>

    </div>

  </body>
</html>
