<!DOCTYPE html>
<html>
    <head>
        <title>Critique</title>
        <%=favicon_link_tag%>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    </head>
    <body>
        <div id="wrapper">
            <%= render 'shared/navbar' %>
            <div class="padding"></div>
            <div class="maincontent">
                <div id="flashMsg">
                    <% flash.each do |type, message| %>
                        <div class="flash alert <%= bootstrap_class_for(type) %> fade in">
                            <button class="close" data-dismiss="alert">×</button>
                            <%= message %>
                        </div>
                    <% end %>
                </div>
                <%= yield %>
            </div>
            <div class="padding"></div>
            <%= render 'shared/footer' %>
        </div>
    </body>
</html>
